In [ ]:
import math
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
import seaborn as sns
import scipy

import bokeh.io
import bokeh.plotting
import bokeh.models

import warnings
warnings.filterwarnings('ignore')

bokeh.io.output_notebook()

In [1]:
import os
import pickle as pkl

from pydeseq2.dds import DeseqDataSet
from pydeseq2.ds import DeseqStats
from pydeseq2.utils import load_example_data

In [2]:
counts_df = load_example_data(
    modality="raw_counts",
    dataset="synthetic",
    debug=False,
)

clinical_df = load_example_data(
    modality="clinical",
    dataset="synthetic",
    debug=False,
)

print(counts_df)

           gene1  gene2  gene3  gene4  gene5  gene6  gene7  gene8  gene9  \
sample1       12     21      4    130     18      0     16     54     49
sample2        1     44      2     63     11     10     70     32     57
sample3        4      4     11    180     21      3     28     34     65
sample4        1     10      2    100     44      9     28     16     33
sample5        1     11      6    135     16      2     32     29     31
...          ...    ...    ...    ...    ...    ...    ...    ...    ...
sample96       7     26      3     67     11      4     41     44     54
sample97       1     14      3     71     33      5     19     42     25
sample98      10     36      2     72     11      2     66     27     16
sample99      18     14      3     66     53     11     32     19     79
sample100     21      9      3     42     13     13     19     78     30

           gene10
sample1         3
sample2         9
sample3         2
sample4         9
sample5         5
...           ...
sample96        1
sample97        4
sample98        9
sample99       11
sample100       5

[100 rows x 10 columns]

In [3]:
clinical_df

          condition group
sample1           A     X
sample2           A     Y
sample3           A     X
sample4           A     Y
sample5           A     X
...             ...   ...
sample96          B     Y
sample97          B     X
sample98          B     Y
sample99          B     X
sample100         B     Y

[100 rows x 2 columns]

In [4]:
samples_to_keep = ~clinical_df.condition.isna()
counts_df = counts_df.loc[samples_to_keep]
clinical_df = clinical_df.loc[samples_to_keep]

In [5]:
genes_to_keep = counts_df.columns[counts_df.sum(axis=0) >= 10]
counts_df = counts_df[genes_to_keep]